@model Libro

@{
    ViewData["Title"] = "Create";
}

<h1>Crear Libro</h1>
<div>
    @* <div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
    <a class="btn btn-primary" asp-action="Index">Regresar a la lista</a>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
          
            <div class="form-group">
                
            </div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaPublicacion" class="control-label"></label>
                <input asp-for="FechaPublicacion" class="form-control" />
                <span asp-validation-for="FechaPublicacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genero" class="control-label"></label>
                <input asp-for="Genero" class="form-control" />
                <span asp-validation-for="Genero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroPaginas" class="control-label"></label>
                <input asp-for="NumeroPaginas" class="form-control" />
                <span asp-validation-for="NumeroPaginas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-success" />
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
